.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.head {
  width: 800px;
  height: 60px;
  margin-bottom: 10px;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin-bottom: 10px;
  background-color: white;
}

.loginBox {
  display: flex;

  div {
    width: 300px;
    padding: 20px;

    &:first-child {
      border-right: 1px solid var(--clr-lightGrey);
    }
  }
}
