.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.authorName {
  display: flex;
  justify-content: space-between;

  > span:last-child {
    font-size: 10px;
    color: var(--clr-secondary-font);
    font-family: var(--fnt-secondary);
  }
}

.commentText {
  margin-top: 4px;
  font-size: 12px;
  font-family: var(--fnt-secondary);
}
