.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 700px;
  height: 100%;
  overflow-y: auto;
}

.noContent {
  text-align: center;
  margin-top: 32px;
  font-size: 14px;
  color: var(--clr-secondary-font);
}

.errorMessage {
  text-align: center;
  margin-top: 32px;
  font-size: 14px;
  color: var(--clr-primary);
}
