.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: red;
    background-color: var(--clr-bg-primary);
}

.header {
    width: 100%;
    height: 50px;
}

.middle {
    flex: 1;
    display: flex;
}

.nav {
    width: 300px;
    background-color: white;
}