.postForm-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: white;
}

.postForm-topSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 17px;
  margin-bottom: 10px;
  align-items: center;
}

.postForm-Form__inputText {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 100%;
  border-radius: 20px;
}
.postForm-Form__inputText > button {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 20px;
  border: none;
  cursor: pointer;
}
input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

.postForm-topSection__prevImage {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.postForm-bottomSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 12px;
}
.postForm-bottomSection > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.posForm-bottomSection__button__span {
  margin-left: 5px;
  font-size: small;
}
