.content-container {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
  min-height: 100vh;
}

/* @media all and (max-width: 481px) {
  .content-container {
    padding: 20px 20px;
  }
} */
