.postCard-article {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
}

.postCard-topSection {
  display: flex;
}

.postCard-topSection__name {
  flex: 1;
  padding-left: 10px;
}
.postCard-topSection__name__namePara {
  font-weight: 500;
  font-size: medium;
}
.postCard-topSection__name__timePara {
  font-size: small;
  color: gray;
}

.postCard-topSection__optionButton {
  display: flex;
  align-items: center;
}

.postCard-description {
  margin-top: 14px;
  font-size: medium;
}
.postCard-description__hashtagPara {
  color: rgb(0, 208, 255);
}

.postCard-imageSection {
  margin-top: 15px;
}
.postCard-imageSection__img {
  width: 100%;
  border-radius: 15px;
}

.postCard-bottomSection {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  padding: 0px 5px;
}
.postCard-bottomSection__reactionButtons {
  flex: 1;
}
