/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #df002c;
  --clr-black: #141c1a;
  --clr-shadedBlack: #0f1413;
  --clr-green: #20c35b;
  --clr-purple: #af7dff;
  --clr-yellow: #ffaf21;
  --clr-white: #ffffff;
  --clr-shadedWhite: #f7faf9;
  --clr-grey: #677572;
  --clr-lightGrey: #dfe5e4;

  --fnt-primary: 'Lexend Zetta', sans-serif;
  --fnt-secondary: 'Work Sans', sans-serif;

  --transition-fast: 150ms;

  --clr-primary: var(--clr-red);
  --clr-fnt-primary: var(--clr-black);
  --clr-fnt-secondary: var(--clr-grey);
  --clr-border: var(--clr-lightGrey);
  --clr-bg-primary: var(--clr-shadedWhite);
}

:root[data-theme='dark'] {
  --clr-primary: var(--clr-red);
  --clr-fnt-primary: var(--clr-shadedWhite);
  --clr-fnt-secondary: var(--clr-grey);
  --clr-border: var(--clr-lightGrey);
  --clr-bg-primary: var(--clr-shadedBlack);
}

body {
  font-family: var(--fnt-secondary);
  color: var(--clr-fnt-primary);
}

#root {
  width: 100vw;
  height: 100dvh;
  background-color: var(--clr-bg-primary);
}

a {
  all: unset;
}

.app-container {
  padding: 0px 200px;
}

.loader-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  width: 100%;
  height: 100%;
}
.loader-wrap > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.info {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-fnt-secondary);
}

.error {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-primary);
}
