header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid #f5f5f5;
}

.header-logo {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex: 0.5;
}
.header-nav > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: none;
  background-color: white;
  cursor: pointer;
}

.header-profile {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-profile__btn {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  cursor: pointer;
}

.header-profile__leftSpan {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 481px) {
  .header-nav {
    display: none;
  }
  .header-profile__leftSpan {
    display: flex;
  }
  .header-profile__rightSpan {
    display: none;
  }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-nav {
    display: none;
  }
  .header-profile__leftSpan {
    display: flex;
  }
  .header-profile__rightSpan {
    display: none;
  }
}
