.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--clr-lightGrey);
}

.outlet {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100dvh - 50px);
  padding-top: 8px;
}
