.container {
  width: 100%;
  margin-bottom: 4px;
  padding: 10px 6px;
  background-color: white;
}

.top {
  display: flex;
  align-items: center;
  width: 100%;

  > form {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: border-color 0.2s;
    background-color: var(--clr-bg-primary);

    &:focus-within {
      border-color: var(--clr-lightGrey);
    }

    > input {
      width: 100%;
      font-size: 10px;
      font-family: var(--fnt-secondary);
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0px 5px;

      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.bottom {
  margin-top: 8px;
}

.bottomSpan {
  margin-left: 3px;
  font-size: 8px;
  font-family: var(--fnt-secondary);
  font-weight: 500;
  color: var(--clr-black);
}
